#arena {
  border: 10px solid red;
  padding: 40px;
  
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.pokemon {
  font-size: 20px;
}
.vs {
  color: red;
  font-size: 40px;
  align-self: center;
  position: absolute;
}
.maincontainter {
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  margin: 30px;
  text-align: center;
}
.buttonholder{
  display: flex;
  align-items: center;
  justify-content: center;
}
.reset{
  margin: 20px;
}
